{% extends 'base.html' %}

{% block header %}
<div class="profile-header">
  <img src="https://image.written.cc/i/2024/10/14/670cae83cec9f.png" alt="User Avatar" class="profile-avatar">
  <div class="profile-info">
    <h1 class="profile-name">Jemmy</h1>
    <p class="profile-description">35岁玩家，喜欢海岛冒险的相机和咖啡爱好者。忙碌于拯救攻城怪物，还没来得及好好介绍自己。</p>
  </div>
  </header>
  {% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="tags">标签</label>
    <input type="text" name="tags" id="tags" value="{{ request.form['tags'] or post.tags }}" placeholder="多个标签用逗号分隔">
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>

  <script>
    var easyMDE = new EasyMDE({ element: document.getElementById('body') });
  </script>
{% endblock %}
