{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('blog.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for post in posts %}

<div class="post summary">
  <div class="thumbnail" style="height: auto;">
    <a href=#>
      <!-- <img src="" alt="" title="" loading="lazy"> -->
    </a>
  </div>

  <div class="post-text grow">

    <div class="post-title">
      <h3><a href="{{ url_for('blog.post', id=post.id) }}">{{ post.title }}</a></h3>
    </div>

    <!-- post-summary -->
    <p>{{ post.body_excerpt }}...</p>
    <a href="{{ url_for('blog.post', id=post.id) }}">阅读更多</a>

    <!-- <div class="post-content">
      <div class="p_part">
        <p>{{ post.title }}</p>
      </div>
    </div> -->
    <div class="post-footer">
      <div class="meta">
        <div class="info">
          {% for tag in post.tags.split(',') %}
          <a class="tags" href="{{ url_for('blog.index', tag=tag.strip()) }}">{{ tag.strip() }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>
{% if not loop.last %}
{% endif %}
{% endfor %}
{% endblock %}