{% extends 'base.html' %}

{% block header %}
<div class="profile-header">
  <img src="https://image.written.cc/i/2024/10/14/670cae83cec9f.png" alt="User Avatar" class="profile-avatar">
  <div class="profile-info">
    <h1 class="profile-name">Jemmy</h1>
    <p class="profile-description">35岁玩家，喜欢海岛冒险的相机和咖啡爱好者。忙碌于拯救攻城怪物，还没来得及好好介绍自己。</p>
  </div>
  </header>
  {% endblock %}
  {% block content %}

  {% for post in posts %}
  <div class="post-list">
    <div class="post-title">
      <h5><a href="{{ url_for('blog.post', id=post.id) }}">{{ post.title }}</a></h5>
    </div>
    <div class="post-content">
      <p>{{ post.body_excerpt }}...</p>
    </div>
    <div class="post-footer">
        <div class="info">
          {% for tag in post.tags.split(',') %}
          <a class="tags" href="{{ url_for('blog.index', tag=tag.strip()) }}">#{{ tag.strip() }}</a>
          {% endfor %}
        </div>
    </div>
  </div>

  {% if not loop.last %}
  {% endif %}
  {% endfor %}
  {% endblock %}