{% extends 'base.html' %}

{% block title %}{{ post.title }} - My Blog{% endblock %}

{% block header %}
<div class="profile-header">
  <img src="https://image.written.cc/i/2024/10/14/670cae83cec9f.png" alt="User Avatar" class="profile-avatar">
  <div class="profile-info">
    <h1 class="profile-name">Jemmy</h1>
    <p class="profile-description">35岁玩家，喜欢海岛冒险的相机和咖啡爱好者。忙碌于拯救攻城怪物，还没来得及好好介绍自己。</p>
  </div>
  </header>
  {% endblock %}

{% block content %}
<div class="posts-content">
    <div class="posts">
        <header>
            <h1 class="post-title">{{ post.title }}</h1>
        </header>
        <div class="markdown-body"> 
        <article class="post">
            <section class="post-body">
            <!-- <p>{{ post.body }}</p> -->
             {{ post_body_html | safe}}
        </section>
        </article>
    </div>
    </div>
</div>
{% endblock %}