{% extends "base.html" %}

{% block header %}
<div class="profile-header">
  <img src="https://image.written.cc/i/2024/10/14/670cae83cec9f.png" alt="User Avatar" class="profile-avatar">
  <div class="profile-info">
    <h1 class="profile-name">Jemmy</h1>
    <p class="profile-description">35岁玩家，喜欢海岛冒险的相机和咖啡爱好者。忙碌于拯救攻城怪物，还没来得及好好介绍自己。</p>
  </div>
  </header>
  {% endblock %}

{% block content %}
<div class="posts-content">
  <div class="posts">
      <article class="post">
          <section class="post-body">
            <h1>编辑博客文章</h1>
            <form action="" method="POST">
                <label for="title">标题</label>
                <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
                <label for="content">内容 (Markdown 格式)</label>
                <textarea name="body" id="editor">{{ request.form['body'] or post['body'] }}</textarea>
            
                <button type="submit">保存修改</button>
            </form>
      </section>
      </article>
  </div>
</div>

<script>
  var easyMDE = new EasyMDE({ element: document.getElementById('editor') });
</script>
{% endblock %}
