<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='easymde.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='github-markdown-light.min.css') }}">
    <script src="{{ url_for('static', filename='easymde.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sidebar.js') }}"></script>
</head>
<header>
    {% block header %}{% endblock %}
</header>
<section class="content">
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
</section>

    <!-- 悬浮侧边栏 -->
    <div class="sidebar" id="sidebar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>